.checkoutProduct{
  display: flex;
  margin:15px 20px ;
  border-bottom: 1px solid lightgray;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title .checkoutProduct__quantity{
    font-size: 17px;
    font-weight: 800;
    width: 100%;
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__quantityInput{
    width: 12%;
    height: 12px;
}
.checkoutProduct__info > button{
    background-color: #5d8bee;
    border: 1px solid hsl(221, 83%, 57%);
    border-radius: 3px;
    cursor: pointer;
    color: white;
}