.checkout{
    display: flex;
    padding:20px;
    background-color: white;
    height: max-content;
    justify-content: space-between;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout__ad{
  width: 100%;
  margin-bottom: 10px;
}
.checkout__left{
  width: 60%;
}
.checkout__right{
  width: 40%;
}
.subTotalDiv{
  position: fixed;
    top: 45px;
    right: 0;
}