.checkoutProduct{
  display: flex;
  margin:10px 20px ;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__info > button{
    background-color: #5d8bee;
    border: 1px solid hsl(221, 83%, 57%);
    border-radius: 3px;
    cursor: pointer;
    color: white;
}