.header{
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 100px;
    margin: 10px 20px;
    color: white;
}

.header__search{
    display: flex;
    flex: 1;
}
.header__searchIcon{
    background-color: beige;
    padding: 5px;
    height: 22px !important;
}
.header__searchInput{
   height: 12px;
   padding: 10px; 
   border: none;
   width: 100%;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
}
.header__basketCount{
  margin: 0 5px;
}