.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container{
    width:300px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.login__logo{
    width:100px;
    object-fit: contain;
    margin :20px 0;
}
.login__container >h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container >form >h5{
  margin-bottom: 5px;
}
.login__container >form >input{
    margin-bottom: 10px;
    background-color: 10px;
    width: 98%;
    height: 30px;
}
.login__container >p{
    margin-top: 5px;
    font-size: 12px;
}
.login__signInButton{
   width:100%;
}
.login__registerButton{
    margin-top: 5px;
}