.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login__container{
     width: 320px;
     display: flex;
     height: fit-content;
     flex-direction: column;
     align-items: center;
     padding: 20px;
     border-radius: 40px;
     background: #ecf0f3;
     box-shadow: 13px 13px 20px #cbced1, 
                  -13px -13px 20px #ffffff;

}
.login__logo{
    background: url("../favicon.png");
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0  auto;
    box-shadow: 0px 0px 2px #ecf0f3,
                8px 8px 15px #a7aaaf,
                -8px -8px 15px #ffffff ; 
}
.login__container >h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container >form >h5{
  margin-bottom: 5px;
}
.login__container >form >input{
    margin-bottom: 10px;
    width: 95%;
    height: 20px;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #555;
    padding: 20px 10px 20px 5px;
    padding-left: 10px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
}
.login__container >p{
    margin-top: 5px;
    font-size: 12px;
}
.login__signInButton{
   outline: none;
   border:none;
   cursor: pointer;
   width: 100%;
   height: 40px;
   border-radius: 30px;
   font-size: 18px;
   font-family: 'Lato', sans-serif;
   color: #fff;
   text-align: center;
   background: rebeccapurple;
   box-shadow: 3px 3px 8px #b1b1b1,
               -3px -3px 8px #ffffff;
   transition: 0.5s;          
   margin:20px 0;  
}
.login__signInButton:hover{
   background: #2fdbb6;
}
.login__signInButton:active{
   background: #1da88a;
}
.login__registerButton{
    outline: none;
    border:none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: rebeccapurple;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;            
 }
 .login__registerButton:hover{
    background: #2fdbb6;
 }
 .login__registerButton:active{
    background: #1da88a;
 }