.subTotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 75px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.subTotal > button{
    background-color: #5d8bee;
    border: 1px solid hsl(221, 83%, 57%);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 30px;
}